.forum-details-container {
    background-color: var(--background-color02);
    padding: 20px;
    border-radius: 10px;
    color: var(--text-normal);
    max-width: 1200px;
    margin: 50px auto;
}

/* Forum title and description */
.forum-details-container h2 {
    color: var(--text-high);
    font-size: 2rem;
    text-align: center;
}

.forum-description {
    color: var(--text-low);
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Forum creator info */
.forumDetails-creator-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.forum-creator-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.forum-creator-username {
    color: var(--accent-color01);
    font-weight: bold;
    margin-right: 15px;
}

.forum-created-date {
    color: var(--text-low);
}

/* Forum stats */
.forum-stats {
    margin-bottom: 20px;
    color: var(--text-normal);
}

/* Comments section */
.comments-section {
    margin-top: 30px;
}

.comments-section h3 {
    color: var(--text-high);
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.comment {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.commenter-pic {
    width: 100px;
    /* Fixed width */
    height: 100%;
    /* Takes the full height of the parent (.comment) */
    margin-right: 20px;
    padding-right: 10px;
    object-fit: cover;
    /* Ensures the image fills the area without distortion */
    border-right: 0.7px solid rgb(201, 244, 247);
    /* Adds a vertical line (border) on the right */
}

.comment-content {
    flex-grow: 1;
    color: var(--text-normal);
}

.comment-content strong {
    color: var(--accent-color02);
}

.comment-date {
    color: whitesmoke;
    font-size: 0.85rem;
    margin-top: 5px;
    opacity: 0.7;
}

/* Comment form */
.comment-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment-textarea {
    width: 98%;
    height: 100px;
    padding: 10px;
    border: 1px solid var(--text-low);
    border-radius: 5px;
    color: var(--text-normal);
    background-color: var(--background-color02);
    resize: none;
    margin-bottom: 10px;
}

.comment-textarea:focus {
    outline: 2px solid var(--accent-color01);
}

.submit-btn {
    background-color: var(--accent-color01);
    color: var(--text-same);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: var(--accent-color02);
}

.submit-btn:focus {
    outline: none;
    background-color: var(--accent-color01);
}

.forum-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}