@import '../../components/variables.css';

.forum-info-section {
    padding: 30px;
    margin-bottom: 40px;
    background-color: var(--background-color02);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.section-title {
    color: var(--text-high);
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.forum-items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;
}

.forum-item-card {
    background-color: rgb(8, 32, 84);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.forum-item-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.forum-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.forum-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forum-username {
    font-size: 18px;
    color: var(--text-normal);
}

.forum-caption {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-high);
    margin-bottom: 10px;
}

.forum-description {
    font-size: 16px;
    color: var(--text-normal);
    margin-bottom: 10px;
}

.forum-status {
    font-size: 14px;
    color: var(--accent-color01);
    font-style: italic;
    margin-bottom: 10px;
}

.forum-date {
    font-size: 14px;
    color: var(--text-low);
}

.no-forum-message {
    text-align: center;
    color: var(--text-low);
    font-size: 18px;
    padding: 20px;
}
