:root {
    --background-color: #052355;
    --background-color02: #020e21;
    --footer-color: #222222;
    --primary-color: #D1E8D6;
    --secondary-color: #A7D7C5;
    --accent-color01: #ffbe58;
    --accent-color02: #7933FF;
    --text-high: #ffbe58;
    --text-low: #020e21;
    --text-normal: #e0f3ff;
    --text-same: #e0f3ff;
}

[data-theme="dark"] {
    --background-color: #0D1F1A;
    --background-color02: #164339c0;
    --footer-color: #D0D0D0;
    --primary-color: #2E5A49;
    --secondary-color: #1B2D25;
    --accent-color01: #889fe4;
    --accent-color02: #83efe6;

    --text-high: #FFFDD0;
    --text-low: #E0E0E0;
    --text-normal: white;
    --text-same: black;
}