@keyframes shake-pop {
  0% {
      transform: scale(1) translateX(0);
  }
  25% {
      transform: scale(1.2) translateX(-5px);
  }
  50% {
      transform: scale(1.1) translateX(5px);
  }
  75% {
      transform: scale(1.2) translateX(-5px);
  }
  100% {
      transform: scale(1) translateX(0);
  }
}

/* Apply the shake and pop animation to the image */
.img-ani {
  max-width: 100%;
  animation: shake-pop 1.5s ease-in-out forwards; /* Continuous shake and pop effect */
}

.button-wrap-homequiz {
  margin-left: 550px;
  width: 285px;
}
