@import '../variables.css';

/* Bounce animation for the image */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px); /* Move up */
  }
  60% {
    transform: translateY(-10px); /* Move down */
  }
}

/* Apply the animation to the image */
.img-ani {
  max-width: 100%;
  animation: bounce 1s ease forwards; /* Infinite loop for a pulsing effect */
}

